html {
  background-color: #9bc99f;
}

body {
  font-family: "Biryani", sans-serif;
  color: white;
}

.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
}

.header,
.gratis,
.family,
.cycling,
.flights {
  text-align: center;
  position: relative;
}

.header h1 {
  /* color: antiquewhite; */
  font-weight: 200;
  text-align: left;
}

.header ul {
  list-style: none;
}

.header-img {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

img.cover {
  object-fit: cover;
  height: 100%;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.grid {
  display: grid;
  grid-template-rows: auto;
  margin-bottom: 50px;
  grid-gap: 50px;
}

.images {
  grid-template-columns: 1fr 1fr 1fr;
}

.about {
  font-size: 36px;
  font-weight: 700;
  text-align: right;
}

.tag {
  grid-template-columns: 40fr 60fr;
  grid-template-rows: auto;
}

.images .copy {
  grid-row: 2;
  grid-column: 1/-1;
}

.travels {
  grid-template-columns: 40fr 60fr;
  text-align: right;
}

.hobbies {
  grid-template-columns: 60fr 40fr;
  text-align: left;
}

.projects1 {
  grid-template-columns: 60fr 40fr;
  text-align: left;
  margin-bottom: 0;
}
.projects2 {
  grid-template-columns: 40fr 60fr;
  text-align: right;
}

.grid .header {
  grid-row: 1;
  grid-column: 1/-1;
  /* text-align: center; */
}

.grid .copy,
.grid .image {
  grid-row: 2;
}

.hobbies img {
  transform: scaleX(-1);
}

h3 span,
span.caption {
  background: #000;
}

a {
  color: white;
  opacity: 1;
  transition: 0.2s;
}
a:visited {
  color: white;
}
a:hover {
  opacity: 0.8;
  transition: 0.2s;
}
.footer {
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
  .grid {
    grid-gap: 10px;
    grid-template-columns: auto;
  }

  .grid .image {
    grid-row: 3;
  }
}
